<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yzk.brain">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:debuggable="false"
        android:persistent="false"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:name="com.yzk.brain.application.ApplicationController"
        android:theme="@style/AppTheme">
        <!--<activity-->
            <!--android:name=".module.mandalas.Caratula"-->
            <!--android:label="@string/app_name"-->
            <!--android:screenOrientation="landscape">-->
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN" />-->

                <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        <!--</activity>-->
        <activity
            android:name="com.yzk.brain.activity.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.yzk.brain.activity.TwentyOnePracticeActivity"
            android:screenOrientation="landscape"/>
        <activity android:name="com.yzk.brain.activity.EducationNewsActivity"
            android:screenOrientation="landscape"/>
        <activity android:name="com.yzk.brain.activity.TwentyOneEnterActivity"
            android:screenOrientation="landscape"/>
        <activity android:name="com.yzk.brain.activity.ImageRemeberPracticeEnterActivity"
            android:screenOrientation="landscape"/>
        <activity android:name="com.yzk.brain.activity.SuTablePracticeActivity"
            android:screenOrientation="landscape"/>
        <activity android:name="com.yzk.brain.activity.ImageAndVoiceActivity"
            android:screenOrientation="landscape"/>
        <activity android:name="com.yzk.brain.activity.MandalasActivity"
            android:screenOrientation="landscape"/>
        <activity android:name="com.yzk.brain.activity.RemeberPracticeActivity"
            android:screenOrientation="landscape"/>
        <activity android:name="com.yzk.brain.activity.MandalaEnterActivity"
            android:screenOrientation="landscape"/>

        <activity android:name="com.yzk.brain.activity.ImageRemeberPracticeActivity"
            android:screenOrientation="landscape"/>

        <activity android:name="com.yzk.brain.activity.RemeberPracticeEnterActivity"
            android:screenOrientation="landscape"/>



        <activity
            android:name="com.yzk.brain.module.mandalas.Mandalas2Activity"
            android:screenOrientation="landscape" />

        <!--<activity android:name=".module.mandalas.TestActivity"></activity>-->
        <service android:name="com.yzk.brain.service.BgMediaPlayerServce"
            android:exported="true"
            android:process=":remote">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </service>
        <service android:name="com.yzk.brain.service.DownloadMusicService"
            android:exported="true"
            android:process=":download">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </service>

        <service android:name="com.yzk.brain.service.DaemonService">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </service>
        <receiver android:name="com.yzk.brain.receiver.ActiveServiceReceiver">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT"/>
                <action android:name="android.intent.action.TIME_TICK"/>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>
    </application>
</manifest>