<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yzk.practice_brain">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <application
        android:allowBackup="true"
        android:persistent="true"
        android:icon="@mipmap/ic_launcher"
        android:debuggable="false"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:name=".application.ApplicationController"
        android:theme="@style/AppTheme">
        <!--<activity-->
            <!--android:name=".module.mandalas.Caratula"-->
            <!--android:label="@string/app_name"-->
            <!--android:screenOrientation="landscape">-->
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN" />-->

                <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        <!--</activity>-->
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activity.TwentyOnePracticeActivity"
            android:screenOrientation="landscape"/>
        <activity android:name=".activity.EducationNewsActivity"
            android:screenOrientation="landscape"/>
        <activity android:name=".activity.TwentyOneEnterActivity"
            android:screenOrientation="landscape"/>
        <activity android:name=".activity.ImageRemeberPracticeEnterActivity"
            android:screenOrientation="landscape"/>
        <activity android:name=".activity.SuTablePracticeActivity"
            android:screenOrientation="landscape"/>
        <activity android:name=".activity.ImageAndVoiceActivity"
            android:screenOrientation="landscape"/>
        <activity android:name=".activity.MandalasActivity"
            android:screenOrientation="landscape"/>
        <activity android:name=".activity.RemeberPracticeActivity"
            android:screenOrientation="landscape"/>
        <activity android:name=".activity.MandalaEnterActivity"
            android:screenOrientation="landscape"/>

        <activity android:name=".activity.ImageRemeberPracticeActivity"
            android:screenOrientation="landscape"/>

        <activity android:name=".activity.RemeberPracticeEnterActivity"
            android:screenOrientation="landscape"/>


        <activity
            android:name=".module.mandalas.Indice"
            android:screenOrientation="landscape" />
        <activity
            android:name=".module.mandalas.SubIndice"
            android:screenOrientation="landscape" />
        <activity
            android:name=".module.mandalas.SubIndiceGallery"
            android:screenOrientation="landscape" />
        <activity
            android:name=".module.mandalas.Mandalas2Activity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".module.mandalas.Ayuda"
            android:screenOrientation="landscape" />
        <activity
            android:name=".module.mandalas.Aboutcolors"
            android:screenOrientation="landscape" />
        <activity
            android:name=".module.mandalas.Aboutshapes"
            android:screenOrientation="landscape" />
        <!--<activity android:name=".module.mandalas.TestActivity"></activity>-->
        <service android:name=".service.BgMediaPlayerServce"
            android:exported="true"
            android:process=":remote">
            <intent-filter android:priority="1000">
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </service>
        <service android:name=".service.DownloadMusicService"
            android:exported="true"
            android:process=":download">
            <intent-filter android:priority="1000">
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </service>

        <receiver android:name=".receiver.ActiveServiceReceiver">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT"/>
                <action android:name="android.intent.action.TIME_TICK"/>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>
    </application>

</manifest>